@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth; 	  /*No sé qué hace esta parte*/
	font-family: "Poppins", sans-serif;
	font-size: 18px;
}

body{
	height: 1000px;
}

header{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	margin: 0 auto;
	height: 90px;
	padding: 0 30px;
	align-items: center;
}

.mainIcon{
	font-size: 1.3rem;
	color: #0083b0;
	font-weight: bolder;
	font-style: italic;
}
.mainIcon::after{
	content: " de Inglés⭐";
	color: red;
}

.btn{
	color:#000;
	margin: 0 .7rem;
	font-size: .9rem;
}
.btn:hover{
	color: red;
	font-size: 1rem;
	font-weight: bold;
}

.btn.active{
	color: red;
	font-size: 1rem;
	font-weight: bold;
}

.whatsapp{
	color: white;
	border: solid 1px #25d366;
	padding: .8rem 1.5rem;
	background-color: #25d366;
	border-radius: 1.5rem;
	box-shadow: 10px 10px .6rem lightgrey;

}
.whatsapp:hover{
	transition:.8s;
	translate:0 5px;
	padding: .5rem 1.5rem;

}

main{
	display: flex;
	height: 550px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background: linear-gradient(to left, #00b4db, #0083b0);
	padding: 0 70px;
}

.main_texto{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	width: 60%;
}

.main_texto h4{
	font-size: 1.5rem;
	color: orange;
	text-decoration: underline;
}


main h2{
	color: orange;
	font-size: 3.5rem;
}
h3{
	color:#fff;
	font-size: 3.5rem;
}



.main_imagen{
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.main_imagen img{
	width: 100%;
	height: 80%;
}

/*-----------------SERVICIOS--------------------*/
.servicios_container{
	text-align: center;
	padding: 30px 0;
	overflow: hidden;
}

.servicios_container h3{
	font-size: 3rem;
	color: #00b4db;
}
span{
	font-size: 3.5rem;
}

.servicios_container img{
	margin-top: 2rem;
	max-width: 500px;
	width: 80%;
	height: auto;
}

.diferente{
	color: orange;
	font-weight: bolder;
	padding: 0 2rem;
	margin-bottom: 3rem;
}

.diferente a {
	color: #00b4db;
	text-decoration: underline;
}

.caja_servicios{
	display:flex;
	width: 80%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.servicio{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;
	text-align: center;
	margin: 0 2rem;
	gap: .5rem;
}


.servicio i{
	font-size: 	2.5rem;
	color: #00b4db;
	transition: .5s;
}
.servicio i:hover{
	font-size: 	4rem;
	color: orange;
}

.servicio_titulo{
	font-weight: 700;
}

.servicio_descripcion{
	font-weight: 200;
}



.abstract-contenedor{
	background: linear-gradient(to left, #00b4db, #0083b0);
	width: 50%;
	margin: 0 auto;
	margin-top: 2rem;
	padding: 2rem 0;
	border-radius: 60px;
	border: 5px outset red;
}

.abstract{
	font-size: 1.5rem;
	padding: 0 50px;
	color: #fff;
}
.abstract span{
	font-size: 2rem;
	color: orange;
}


/*-----------------SIN TIEMPO--------------------*/
.sintiempo_contenedor{
	margin-top: 60px;
	background: linear-gradient(to left, #00b4db, #0083b0);
	overflow: hidden;
}

.sintiempo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	width: 90%;
	margin: 0 auto;
}

.sintiempo_textos{
	padding: 0 1rem;
	text-align: right;
}

.sintiempo_textos h3{
	color: #fff;
	font-size: 	2.5rem;
}
.sintiempo_textos h3::after{
	content: "profesionales.";
	color: red;
}

.sintiempo_img img{
	max-width: 500px;
	max-height: 500px;
}


/*-----------------CONTACTO--------------------*/

.contacto_contenedor{
	display: flex;
	align-items: center;
	overflow: hidden;
}

.contacto{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	padding: 30px;
}

.celular::after{
	content: " 3173253124 - 3212486892";
	font-weight: 300;
}

.logo_footer{
	font-size: 1.8rem;
	color: #0083b0;
	font-weight: bolder;
	font-style: italic;
}
.logo_footer::after{
	content: " de Inglés⭐";
	color: red;
}

.correo::after{
	content: "info@latareadeingles.com";
	font-weight: 300;

}

.whatsappfloat{
	width: 5%;
	position: fixed;
	right: 1%;
	bottom: 3%;
	transition: .5s;
}
.whatsappfloat:hover{
	width: 5.5%;
	cursor: pointer;
}

header i{       /*MENU ICON*/
	display: none;
	z-index: 200;
}

/*Responsive menu*/







/*--------------QUERY---------------------*/


@media (max-width:1330px) {
	.navbar{
		display: none;
	}.navbar.active{
		position: absolute;
		top: 90px;
		right: 0;
		width: 100%;
		padding: 1rem 3%;
		background: #fff;
		border-bottom: .1rem solid rgba(0,0,0, .2);
		box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
		display: flex;
		flex-direction: column;
	}
	.navbar a{
		font-size: 	1.2rem;
		margin-top: 20px;
	}

	.whatsapp{
		display: none;
	}

	main h2{
		font-size: 3rem;
	}
	h3{
		font-size: 3rem;
	}
	span{
		font-size: 3rem;
	}
	
	.main_imagen img{
	width: 100%;
	height: 60%;
	}
	header i{
		display: block;
		color: black;
		font-size: 3rem;
		margin-right: 20px;
	}
	.mainIcon{
		font-size: 2rem;
	}
}


@media (max-width:1295px) {
	h3{
		font-size: 3rem;
	}
	span{
	font-size: 3rem;
	}
	

	.contacto{
		flex-direction: column;
	}
}



@media (max-width:1025px) {
	h3{
		font-size: 3rem;
	}
	
	.caja_servicios{
		flex-direction: column;
	}
	.servicios_container h3{
		font-size: 2.5rem;
	}
	.servicio i{
		font-size: 3.5rem;
	}
	.servicio h2{
		font-size: 1.5rem;
	}
	.servicio p{
		font-size: 1.2rem;
	}
	.servicio a{
		font-size: 1.5rem;
	}

	.sintiempo{
		flex-direction: column;
	}
	.sintiempo_textos{
		text-align: center;
	}

	.whatsappfloat{
	width: 9%;
	}
	.whatsappfloat:hover{
	width: 9.5%;
	}
}


@media (max-width:865px) {
	h3{
		font-size: 2.8rem;
	}
	span{
	font-size: 2.8rem;
	}
	
	main{
		flex-direction: column-reverse;
		padding: 30px;
	}
	.main_texto{
		text-align: center;
		width: 100%;
		align-items: center;
	}
	.main_imagen{
		width: 100%;
	}
	.main_imagen img{
		width: 30%;
		height: 100%;
	}

	.sintiempo_textos h3{
		font-size: 2rem;
	}
	.sintiempo_textos h3::after{
		font-size: 2rem;
	}
	.sintiempo_img{
		text-align: center;
	}
	.sintiempo img{
		width: 70%;
	}
}

@media (max-width:700px) {
	.mainIcon{
		font-size: 1.5rem;
	}.mainIcon::after{
		font-size: 1.5rem;
	}
	header{
		padding: 0 10px;
	}
	header i{
		font-size: 2rem;;
	}

	.main_texto h2{
		font-size: 2rem;
	}
	h3{
		font-size: 2rem;
	}span{
	font-size: 2rem;
	}


	.main_imagen img{
		width: 45%;	
	}

	.whatsappfloat{
	width: 11%;
	}
	.whatsappfloat:hover{
	width: 11.5%;
	}
}

@media (max-width:600px) {
	h3{
		font-size: 2rem;
	}
	.main_imagen img{
		width: 60%;	
	}

	.servicio i{
		font-size: 3rem;
	}
	.servicio h2{
		font-size: 1.2rem;
	}
	.servicio p{
		font-size: 1rem;
	}
	.servicio a{
		font-size: 1rem;
	}

	.main_texto h4{
	font-size: 1rem;
	}
}

@media (max-width:500px) {
	.logo_footer{
		font-size: 1.3rem;
	}.logo_footer::after{
		font-size: 1.3rem;
	}
	.contacto{
		padding: 30px 5px;
	}
	.sintiempo h3{
		font-size: 1.3rem;
	}.sintiempo h3::after{
		font-size: 1.3rem;
	}
	.whatsappfloat{
	width: 13%;
	}
	.whatsappfloat:hover{
	width: 13.5%;
	}

	.cotizacion{
		font-size: 1.8rem;
	}
	.cotizacion span{
		font-size: 	1.8rem;
	}
}


@media (max-width:450px) {

	.navbar.active{
		top: 70px;
	}

	.mainIcon{
		font-size: 1rem;
	}.mainIcon::after{
		font-size: 1rem;
	}
	header{
		padding: 0 7px;
		height: 70px;
	}
	header i{
		font-size: 1.5rem;;
	}


	.main_texto h2{
		font-size: 1.5rem;
	}
	h3{
		font-size: 1.5rem;
	}span{
	font-size: 1.5rem;
	}


	.main_imagen img{
		width: 70%;
	}

	.cotizacion{
		font-size: 1.5rem;
	}
	.cotizacion span{
		font-size: 	1.5rem;
	}

	

}

